<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Authentication</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body style="background-image:url('/static/bootstrap/images/bg2.png')">
    

    {% block content %}

    <div class="container mt-5">
        <h2 class="text-info text-center mt-5">Welcome to Authy App</h2>
        <div class="row mt-5">
            <a class="btn btn-info col-md-4 mx-auto" href="{% url 'signup' %}">Sign Up</a>
            <a class="btn btn-info col-md-4 mx-auto" href="{% url 'login' %}">Login</a>          
        </div>
       
    </div>

    {% endblock %}



    <script src="{% static 'bootstrap/js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script>let errorElements = document.getElementsByClassName('alert-error');
        [...errorElements].forEach(el=>{el.classList.add('alert-danger')})</script>
</body>
</html>