{% extends 'user.html' %}
{% block content %}
<head>
    <title>
      STAFF 
    </title>
  </head>
  <body>
    <li>
      <a href="homepage"><button type="button" class="btn btn-primary" style="height:50px;width:10%;margin-bottom:20px">BACK</button></a>
    </li>
    <h2 style="text-align:center">TASK MANAGEMENT</h2>
    <div class="row">

      <table class="table container" style="width:50%">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Task</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
              {% for i in view %}
            <tr>
              <td>{{i.id}}</td>
              <td>{{i.work}}</td>
              <td>{{i.start}}</td>
              <td>{{i.end}}</td>
              <td>{{i.status}}</td>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>    
  </body>
{% endblock %}